.nutrient-item {
    height: 12.109375vh;
    width: 17.917vw;
    border-radius: 5px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    padding-left: 2.222vw;
}

.nutrient-icon {
    width: 4.167vw;
    height: 4.167vw;
    margin-right: 26px;
}

.nutrient-quantity {
    font-size: 1.389vw;
    font-weight: 700;
}

.nutrient-name {
    color: #74798c;
    font-size: 0.972vw;
    font-weight: 500;
}

.nutrient-item-load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.nutrient-item-error {
    justify-content: center;
    padding-left: 0;
}

.nutrient-item-error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.nutrient-item-error-message-icon {
    color: #ff0000;
    margin: 0;
}
