.session-chart {
    border-radius: 5px;
    position: relative;
    width: 17.917vw;
    aspect-ratio: 1 / 1;
}

.session-chart-title {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fe7f7f;
    z-index: 2;
    width: 147px;
    height: 48px;
}

.session-chart-red {
    background: linear-gradient(90deg, #ff0000 70%, #e50000 30%);
}

.session-chart-grey {
    background: #fbfbfb;
    display: flex;
    justify-content: center;
}

.session-chart-error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.session-chart-error-message-icon {
    color: #ff0000;
}
