.home {
    margin: 0 8.125vw;
    padding: 6.640625vh 7.431vw;
}

.home-header {
    display: flex;
    flex-direction: column;
}

.greeting-message {
    display: flex;
    margin-bottom: 4.00390625vh;
    font-weight: 500;
}

.hello,
.username {
    margin: 0;
}

.hello {
    color: black;
    font-size: 48px;
    margin-right: 10px;
}

.username {
    color: #ff0000;
    font-size: 48px;
}

.cheering-message {
    color: black;
    margin: 0 0 7.51953125vh 0;
}

.home-main {
    display: flex;
    justify-content: space-between;
}

.charts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

.secondaries-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nutritional-intake {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
