.fatscore-title {
    font-size: 15px;
    font-weight: 500;
}

.fatscore {
    font-size: 26px;
    font-weight: 700;
}

.fatscore-text {
    font-size: 16px;
    font-weight: 500;
}

.fatscore-chart {
    width: 17.917vw;
    aspect-ratio: 1 / 1;
    background: #fbfbfb;
    display: flex;
    justify-content: center;
}

.fatscore-chart-error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.fatscore-chart-error-message-icon {
    color: #ff0000;
}
